<div class="container">
  <div class="row">
    <div class="row">
      <p>Author Name: <%= @author.name %></p></div>
    <div class="row">
      <p>Bio: <%= @author.bio %></p>
    </div>




    <% unless @author.comics.blank? %>

        <div class="readings">
          <header>
            &nbsp;
            <a class="reading-type">
              Novel
            </a>
            <a href="javascript:void(0)" class="show-list"><i class="glyphicon glyphicon-list"></i></a>
            <a href="javascript:void(0)" class="hide-list"><i class="glyphicon glyphicon-th"></i></a>
          </header>
          <% if @author.comics.blank? %>
              <h3>There is no Novels</h3>
          <% else %>

              <div class="readings-container">
                <% @author.comics.each do |comic| %>
                    <div class="reading-box">

                      <%= link_to comic_path(comic) do %>
                          <img src="/images/bookcover/cover1.jpg" alt="Novel cover">
                      <% end %>


                      <div class="reading-info">
                        <% unless comic.chapters.blank? %>
                            <div class="reading-chapter">
                              <%= link_to chapter_path(comic.chapters.last) do %>
                                  Chap <%= comic.chapters.last.no %>
                              <% end %>
                            </div>
                        <% end %>


                        <div class="reading-title">
                          <%= link_to comic_path(comic) do %>
                              <%= comic.title %>
                          <% end %>
                        </div>
                      </div>


                    </div>
                <% end %>
          <% end %>

          </div>
        </div>
    <% end %>


    <% unless @author.novels.blank? %>

        <div class="readings">
          <header>
            &nbsp;
            <a class="reading-type">
              Novel
            </a>
            <a href="javascript:void(0)" class="show-list"><i class="glyphicon glyphicon-list"></i></a>
            <a href="javascript:void(0)" class="hide-list"><i class="glyphicon glyphicon-th"></i></a>
          </header>
          <% if @author.novels.blank? %>
              <h3>There is no Novels</h3>
          <% else %>

              <div class="readings-container">
                <% @author.novels.each do |novel| %>
                    <div class="reading-box">

                      <%= link_to novel_path(novel) do %>
                          <img src="/images/bookcover/cover1.jpg" alt="Novel cover">
                      <% end %>


                      <div class="reading-info">
                        <% unless novel.chapters.blank? %>
                            <div class="reading-chapter">
                              <%= link_to chapter_path(novel.chapters.last) do %>
                                  Chap <%= novel.chapters.last.no %>
                              <% end %>
                            </div>
                        <% end %>


                        <div class="reading-title">
                          <%= link_to novel_path(novel) do %>
                              <%= novel.title %>
                          <% end %>
                        </div>
                      </div>


                    </div>
                <% end %>
          <% end %>

          </div>
        </div>
    <% end %>
  </div>
</div>
