<div class="container read">

  <div class="row">
    <div class="col-xs-10 col-md-10">

      <%= render partial: 'layouts/comics', locals: {comics: @comics} %>

      <div class="text-center">
        <%= link_to 'Load all comic', comics_path %>
      </div>



      <%= render partial: 'layouts/novels', locals: {novels: @novels} %>

      <div class="text-center">
        <%= link_to 'Load all novel', novels_path %>
      </div>


    </div>

      <div class="col-xs-2 col-md-2">
        <div class="categories text-center">
          <div class="categories-header">
            Category
          </div>

          <% @categories.each do |category| %>

              <div class="category">

                <%= link_to category.title, category_path(category) %>

              </div>


          <% end %>


        </div>
      </div>





  </div>

</div>