<div class="container">

  <div class="readings">
    <header>
      &nbsp;
      <a class="reading-type">
        Novel
      </a>
      <a href="javascript:void(0)" class="show-list"><i class="glyphicon glyphicon-list"></i></a>
      <a href="javascript:void(0)" class="hide-list"><i class="glyphicon glyphicon-th"></i></a>
    </header>
    <% if @novels.blank? %>
        <h3>There is no Novels</h3>
    <% else %>

        <div class="readings-container">
          <% @novels.each do |novel| %>
              <div class="reading-box">

                <%= link_to novel_path(novel) do %>
                    <img src="/images/bookcover/cover1.jpg" alt="Novel cover">
                <% end %>


                <div class="reading-info">
                  <% unless novel.chapters.blank? %>
                      <div class="reading-chapter">
                        <%= link_to chapter_path(novel.chapters.last) do %>
                            Chap <%= novel.chapters.last.no %>
                        <% end %>
                      </div>
                  <% end %>


                  <div class="reading-title">
                    <%= link_to novel_path(novel) do %>
                        <%= novel.title %>
                    <% end %>
                  </div>
                </div>


              </div>
          <% end %>
    <% end %>

    </div>


    <%= paginate @novels %>


  </div>


</div>