
<div class="container read">

  <div class="row">
    <div class="col-xs-2">
      <div class="reading-cover">
        <% if @novel.cover.exists? %>
            <%= image_tag @novel.cover.url %>
        <% else %>
            <img src="/images/not-found.jpg" alt="Novel cover">
        <% end %>
        <% if logged_in? %>
            <div class="subscribe-box text-center">
              Subscribe


              <%= link_to novel_subscribes_url(@novel), method: :post do %>

                  <span class="glyphicon glyphicon-plus"></span>

              <% end %>
            </div>

        <% end %>
      </div>
    </div>

    <div class="col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @novel.title %></h3>


        </div>
        <div class="panel-body">

          <% if @novel.authors.blank? %>

          <% else %>
              <p>Author:

                <% @novel.authors.each do |author| %>

                    <%= link_to author.name, author_path(author) %>

                <% end %>

              </p>

          <% end %>

          <% if @novel.categories.blank? %>

          <% else %>
              <p>Categories:

                <% @novel.categories.each do |category| %>

                    <%= link_to category.title, category_path(category) %>

                <% end %>

              </p>

          <% end %>
        </div>

        <div class="panel-heading">
          <h3 class="panel-title">
            Description
          </h3>
        </div>

        <div class="panel-body">
          <%= @novel.description %>
        </div>


      </div>
    </div>
  </div>


  <% if @novel.chapters.blank? %>

      There is no chapters


  <% else %>
      <table class="table">
        <thead>
        <tr>
          <th>No.</th>
          <th>Title</th>
          <th>View</th>
        </tr>
        </thead>
        <tbody>
        <% @novel.chapters.order('id DESC').each do |chapter| %>


            <tr class="clickable-row" data-link=<%= chapter_path(chapter) %>>
              <td scope="row">


                <%= chapter.no %>


              </td>

              <td scope="row">


                <div class="reading-title">
                  <%= chapter.title %>
                </div>


              </td>

              <td scope="row">


                <div class="reading-title">
                  <%= chapter.viewed %>
                </div>


              </td>


            </tr>


        <% end %>


        </tbody>
      </table>


  <% end %>

  <div class="row">

    <h3>Review</h3>

    <% if logged_in? %>

        <div class="review-form">
          <%= form_tag novel_reviews_path(@novel), {:class => 'form'} do %>

              <div class="form-row">
                <%= label_tag :vote %>
                <%= number_field_tag :vote, min: 0, max: 10 %>
              </div>

              <div class="form-row">
                <%= label_tag :review %>
                <%= text_area_tag :review, nil, placeholder: 'Enter review', class: 'input' %>
              </div>
              <div class="form-row">
                <%= submit_tag 'Add Review', class: 'btn btn-large btn-primary' %>
              </div>
          <% end %>
        </div>
    <% end %>


    <% if @novel.reviews.blank? %>


    <% else %>

        <div class="reviews">
          <% @novel.reviews.each do |review| %>

              <div class="review">

                <div class="review-box">

                  <div class="review-text">
                    <%= review.review %>

                    <span class="review-vote">
                       <%= review.vote %>
                    </span>

                  </div>
                  <div class="review-footer">
                    <div class="review-info">
                      <span class="review-author">
                              <%= review.user.name %>
                      </span>
                      <span class="review-date">
                        <%= review.created_at %>
                      </span>
                    </div>

                    <% if current_user?(review.user) or current_user.is_admin? %>

                        <div class="review-actions">
                          <%= link_to review_path(review), method: :delete, data: {confirm: 'Are You Sure?'} do %>
                              <span class='glyphicon glyphicon-trash'></span>
                          <% end %>
                        </div>

                    <% end %>

                  </div>

                </div>

              </div>

          <% end %>
        </div>


    <% end %>

  </div>

</div>