<div class="container">
  <div class="row">
    <h1><%= @novel.title %></h1>
  </div>
  <div class="row">


    <% if @novel.authors.blank? %>

    <% else %>
        <p>Author: </p>

        <% @novel.authors.each do |author| %>

            <%= link_to author_path(author) do %>

                <p> <%= author.name %> </p>

            <% end %>

        <% end %>

    <% end %>

  </div>

  <% if logged_in? %>

      <div class="row">


          Subscribe


        <%= link_to novel_subscribes_url(@novel), method: :post do %>

            <span class="glyphicon glyphicon-plus"></span>

        <% end %>


      </div>

  <% end %>

  <div class="row">

    <h3>
      Description
    </h3>

    <p>
      <%= @novel.description %>
    </p>

  </div>

  <% if @novel.chapters.blank? %>

      There is no chapters


  <% else %>
      <table class="table">
        <thead>
        <tr>
          <th>No.</th>
          <th>Title</th>
          <th>View</th>
        </tr>
        </thead>
        <tbody>
        <% @novel.chapters.order('id DESC').each do |chapter| %>


            <tr class="clickable-row" data-link=<%= chapter_path(chapter) %>>
              <td scope="row">


                <%= chapter.no %>


              </td>

              <td scope="row">


                <div class="reading-title">
                  <%= chapter.title %>
                </div>


              </td>
              <td scope="row">


                <div class="reading-title">
                  <%= chapter.viewed %>
                </div>


              </td>

            </tr>


        <% end %>


        </tbody>
      </table>


  <% end %>


</div>