<div class="container">
  <div class="row">
    <h1><%= @novel.title %></h1>
  </div>
  <div class="row">


    <% if @novel.authors.blank? %>

    <% else %>
        <p>Author: </p>

        <% @novel.authors.each do |author| %>

            <%= link_to author_path(author) do %>

                <p> <%= author.name %> </p>

            <% end %>

        <% end %>

    <% end %>

  </div>

  <% if logged_in? %>

      <div class="row">


        Subscribe


        <%= link_to novel_subscribes_url(@novel), method: :post do %>

            <span class="glyphicon glyphicon-plus"></span>

        <% end %>


      </div>

  <% end %>

  <div class="row">

    <h3>
      Description
    </h3>

    <p>
      <%= @novel.description %>
    </p>

  </div>

  <% if @novel.chapters.blank? %>

      There is no chapters


  <% else %>
      <table class="table">
        <thead>
        <tr>
          <th>No.</th>
          <th>Title</th>
          <th>View</th>
        </tr>
        </thead>
        <tbody>
        <% @novel.chapters.order('id DESC').each do |chapter| %>


            <tr class="clickable-row" data-link=<%= chapter_path(chapter) %>>
              <td scope="row">


                <%= chapter.no %>


              </td>

              <td scope="row">


                <div class="reading-title">
                  <%= chapter.title %>
                </div>


              </td>
              <td scope="row">


                <div class="reading-title">
                  <%= chapter.viewed %>
                </div>


              </td>

            </tr>


        <% end %>


        </tbody>
      </table>


  <% end %>


  <div class="row">

    <h3>Review</h3>

    <% if logged_in? %>
        <div class="review-form">
          <%= form_tag novel_reviews_path(@novel) do %>

              <div class="form-row">
                <%= label_tag :vote %>
                <%= number_field_tag :vote, min: 0, max: 10, :required => true %>
              </div>

              <div class="form-row">
                <%= label_tag :review %>
                <%= text_area_tag :review, placeholder: 'Add review...', :required => true %>
              </div>

              <%= submit_tag 'Add Comment', class: 'btn btn-large btn-primary' %>
          <% end %>
        </div>
    <% end %>

    <% if @novel.reviews.blank? %>

        This Comic has no review

    <% else %>

        <div class="reviews">
          <% @novel.reviews.each do |review| %>

              <div class="review">

                <div class="review-box">

                  <div class="review-text">
                    <%= review.review %>

                    <span class="review-vote">
                       <%= review.vote %>
                    </span>

                  </div>
                  <div class="review-footer">
                    <div class="review-info">
                      <span class="review-author">
                              <%= review.user.name %>
                      </span>
                      <span class="review-date">
                        <%= review.created_at %>
                      </span>
                    </div>

                    <% if current_user?(review.user) or current_user.is_admin? %>

                        <div class="review-actions">
                          <%= link_to review_path(review), method: :delete, data: {confirm: 'Are You Sure?'} do %>
                              <span class='glyphicon glyphicon-trash'></span>
                          <% end %>
                        </div>

                    <% end %>

                  </div>

                </div>

              </div>

          <% end %>
        </div>


    <% end %>

  </div>


</div>