<div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <div class="bookcover-container">

        <!--<img class="center-block" src={{'/storage/coversbooksbook->image}} alt="">-->

      </div>

    </div>

    <div class="col-md-8">
      <h1 id="bookTitle"><%= @book.title %></h1>

      <div id="bookAuthors">
        <span class="by smallText">by</span>
        <% if @book.authors.count == 1 %>

            <%= @book.authors.name %>

        <% else
             if @book.authors.count > 1 %>

                <% @book.authors.each do |author| %>

                    <%= link_to author_path(author) do %>
                        <span><%= author.name %></span>

                    <% end %>


                <% end %>

            <% end %>
        <% end %>

      </div>

      <div id="bookQty">
        <span class="title">Qty: </span>
        <span><%= @book.qty %></span>
      </div>


      <div id="bookPrice">
        <span class="title">Price: </span>
        <span><%= @book.price %></span>



      </div>


      <div id="bookDescription">
        <h3>Description</h3>
        <span><%= @book.description %></span>
      </div>

    </div>
  </div>
</div>
