<div class="container">

  <% is_comic = @chapter.novel.nil? ? true : false %>

  <div class="row">
    <h1>

      <% if is_comic %>
          <%= link_to comic_path(@chapter.comic) do %>

              <%= @chapter.comic.title %>

          <% end %>

      <% else %>

          <%= link_to novel_path(@chapter.novel) do %>

              <%= @chapter.comic.title %>

          <% end %>

      <% end %>
      > <%= @chapter.no %>. <%= @chapter.title %>

    </h1>
  </div>

  <% if @chapter.contents.blank? %>

      Chapter is empty

  <% else %>

      <% if is_comic %>

          <div class="images">
            <% @chapter.images.each do |image| %>

              <div class="image">
                <td><%= image_tag image.image.url %></td>
              </div>

            <% end %>
          </div>



      <% else %>

          <div class="texts">
            <% @chapter.texts.each do |text| %>

                <div class="text">

                  <p> <%= text.txt_content %> </p>

                </div>

            <% end %>
          </div>




      <% end %>

  <% end %>

</div>