<div class="container read">

  <% is_comic = @chapter.novel.nil? ? true : false %>


  <ol class="breadcrumb">
    <% if is_comic %>
        <li><%= link_to @chapter.comic.title, comic_path(@chapter.comic) %></li>
    <% else %>
        <li><%= link_to @chapter.novel.title, novel_path(@chapter.novel) %></li>
    <% end %>
    <li class="active"><%= @chapter.no %>. <%= @chapter.title %></li>
  </ol>


  <% unless @chapter.contents.blank? %>

      <% if is_comic %>

          <div class="images">
            <% @chapter.images.each do |image| %>

                <div class="image">

                  <% if image.image.exists? %>
                      <td><%= image_tag image.image.url %></td>
                  <% else %>
                      <td><img src="/images/not-found.jpg" alt="Novel cover"></td>
                  <% end %>


                </div>

            <% end %>
          </div>


      <% else %>

          <div class="texts">
            <% @chapter.texts.each do |text| %>

                <div class="text">

                  <p> <%= text.txt_content %> </p>

                </div>

            <% end %>
          </div>


      <% end %>


  <% end %>



  <nav aria-label="...">
    <ul class="pager">
      <% unless @previous_chap.nil? %>
          <li>
            <%= link_to 'Previous Chap', chapter_path(@previous_chap) %>
          </li>

      <% end %>
      <% unless @next_chap.nil? %>
          <li>
            <%= link_to 'Next Chap', chapter_path(@next_chap) %>
          </li>

      <% end %>
    </ul>
  </nav>


</div>