<% provide(:button_text, 'Create') %>
<div class="container">
  <h1>New category</h1>
  <%= form_for(@category) do |f| %>
      <% if @category.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-danger">
              The form contains <%= pluralize(@category.errors.count, "error") %>.
            </div>
            <ul>
              <% @category.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
</div>