<div class="container read">

  <% cat = @category %>
  <% cats = [] %>

  <% until cat.parent.nil? do %>

      <% cat = cat.parent %>
      <% cats.insert(0, cat) %>

  <% end %>


  <ol class="breadcrumb">

    <% unless cats.blank? %>

        <% cats.each do |cate| %>
            <li><%= link_to cate.title, category_path(cate) %></li>
        <% end %>

    <% end %>

    <li class="active"><%= @category.title %></li>
  </ol>


  <div class="readings">

    <header>

      <a class="reading-type">
        Child Category
      </a>
      <a href="javascript:void(0)" class="show-list"><i class="glyphicon glyphicon-list"></i></a>
      <a href="javascript:void(0)" class="hide-list"><i class="glyphicon glyphicon-th"></i></a>

    </header>

    <div class="readings-container">
      <% unless @category.children.blank? %>

          <% @category.children.each do |cate| %>
              <div class="reading-box">

                <div class="reading-info">

                  <div class="reading-title">

                    <%= link_to cate.title, category_path(cate) %>


                  </div>
                </div>


              </div>
          <% end %>
      <% end %>
    </div>


    <%= render partial: 'layouts/comics', locals: {comics: @category.comics} %>



    <%= render partial: 'layouts/novels', locals: {novels: @category.novels} %>


  </div>
</div>
