<div class="container read">
  <h2><%= @comic.title %></h2>
  <p><%= @comic.description %></p>
  <h2>Chapters</h2>
  <div class="pull-right">
    <%= link_to new_admin_comic_chapter_path(@comic) do %>
        <button type="button" class="btn btn-success">New Chapter</button>
    <% end %>
  </div>
  <div class="row">
    <% @chapters.each do |chapter| %>
        <div class="col-xs-3">
          <%= link_to chapter_path(chapter) do%>
            <%= "#{chapter.no}. #{chapter.title}" %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>